<ion-content>
  <!-- Logo -->
  <div class="logo-container">
    <img src="assets/logo.png" alt="Logo" class="logo" />
  </div>

  <!-- Pulsanti -->
  <ion-list>
    <ion-item button detail="false">
      <ion-label>
        <a href="https://supporto.computersoftware.it/lp2/" target="_blank">
          <div class="box">
            <img src="assets/appuntamento.png" alt="Richiedi appuntamento" />
          </div>
          <div class="text">
            <h2>Richiesta Appuntamento</h2>
            <p>Richiesta Appuntamento per Assistenza/Formazione</p>
          </div>
        </a>
      </ion-label>
    </ion-item>
    <ion-item button detail="false">
        <ion-label>
        <a href="https://www.portaleargo.it/argohelp/" target="_blank">
          <div class="box">
            <img src="assets/telefonata.png" alt="Assistenza Telefonica" />
          </div>
          <div class="text">
            <h2>Assistenza Telefonica</h2>
            <p>Richiesta Assistenza Telefonica/Teleassistenza (Argo Help)</p>
          </div>
        </a>
      </ion-label>
    </ion-item>
    <ion-item button detail="false">
      <ion-label>
        <a href="https://supportoclienti.argosoft.it/guide/" target="_blank">
          <div class="box">
            <img src="assets/guide.png" alt="Guide" />
          </div>
          <div class="text">
            <h2>Guide</h2>
            <p>Guide Sintetiche Applicativi Argo</p>
          </div>
        </a>
      </ion-label>
    </ion-item>
    <ion-item button detail="false">
      <ion-label>
        <a href="https://supportoclienti.argosoft.it/news/" target="_blank">
          <div class="box">
            <img src="assets/news.png" alt="News" />
          </div>
          <div class="text">
            <h2>News</h2>
            <p>Ultime News Argo</p>
          </div>
        </a>
      </ion-label>
    </ion-item>
    <ion-item button detail="false" [routerLink]="'/contatti'" routerLinkActive="active">
      <ion-label>
        <div class="box">
          <img src="assets/contattaci.png" alt="Contattaci" />
        </div>
        <div class="text">
          <h2>Contatta</h2>
          <p>Contatta l'amministrazione</p>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<!-- Footer -->
<ion-footer>
  <ion-toolbar>
    <ion-row class="social-links">
      <ion-col>
        <a href="https://api.whatsapp.com/send?phone=0817144465" target="_blank">
          <img src="assets/wz.png">
        </a>
      </ion-col>
      <ion-col>
        <a href="https://www.facebook.com/computersoftwaresrl" target="_blank">
          <img src="assets/fb.png">
        </a>
      </ion-col>
      <ion-col>
        <a href="https://www.instagram.com/direzionescuola/" target="_blank">
          <img src="assets/ig.png">
        </a>
      </ion-col>
      <ion-col>
        <a href="https://www.linkedin.com/company/computer-software-srl/posts/?feedView=all&amp;viewAsMember=true" target="_blank">
          <img src="assets/ln.png">
        </a>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
