ion-content {
  --background:url("/assets/bg.png") no-repeat top center;
}

.logo-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background:url("/assets/bg.png") no-repeat top center;
  z-index: 1000;
  padding: 20px 0; 
  text-align: center;
  border-bottom: solid 1px #ddd;
}

.logo {
  max-width: 80%;
  height: auto;
}

ion-list {
  margin: 110px 20px 0 15px;
  background: none;
}

ion-item {
  --background: #f4f4f4;
  --color: #272727;
  margin: 20px 0 20px;
  border-radius: 10px;
  --inner-border-width: 0;
  border: solid 1px #ddd;
  box-shadow: 1px 5px 15px #eee;
}

.footer-ios ion-toolbar:first-of-type{
  --border-width: 0!important;
  padding:0;
  background:none;
}

.social-links {
  text-align: center;
  padding: 10px 0 0;
  width: 70%;
  margin: 0 15%;
}

.social-links a img{
  max-width: 70px;
  width: 70px;
}



.box{
  float: left;
  width: 24%;
}

.box img{
  max-width: 90%;
  margin: 0 5%;
}

.text{
  float: left;
  width: 76%;
  padding: 1px 0 3px 2%;
}

.text h2, a.text h2{
  font-weight: 600;
  margin: 2px 0 2px 0;
  color: #272727;
  font-size: 18px;
}

.text p, a.text p{
  line-height: 20px;
  color: #272727;
  font-size: 16px;
}