ion-content {
  --background:url("/assets/bg.png") no-repeat top center;
  }
  
  .logo-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background:url("/assets/bg.png") no-repeat top center;
    z-index: 1000;
    padding: 20px 0; 
    text-align: center;
    border-bottom: solid 1px #ddd;
  }
  
  .logo {
    max-width: 80%;
    height: auto;
  }
  

  h2{
    padding: 110px 20px 0;
    font-weight: 600;
  }

  ion-input{
    border: solid 1px #d4d4d4!important;
    border-radius: 15px;
    box-shadow: 0px 5px 15px #eee;
    --padding-start: 15px;
    --padding-end: 15px;
    color: #333;
    float: left;
    width: 100%;
    margin-bottom: 5px;
  }

  .input{
    height: 50px;
    font-size: 16px;
  }

  .textarea{
    height: 150px;
    font-size: 16px;
    border: solid 1px #d4d4d4!important;
    border-radius: 15px;
    --padding-start: 15px;
    --padding-end: 15px;
}

.send{
    height: 60px;
    margin: 30px 2.5% 10px;
    font-size: 18px;
    border-radius: 15px!important;
    --background: #143f7d;
    width: 94%;
}

  .label {
    font-size: 20px; 
    color: #333;
    margin: 20px 0 15px;
    font-weight: 600;
  }
  
  ion-item{
    box-shadow: 0 0 0 #fff;
    border: 0!important;
    --border-color:transparent;
    position: relative; 
    --background:transparent;
  }

  .response-message {
    margin-top: 20px;
    padding: 10px;
    color: green; 
    width: 100%;
    text-align: center;
  }

  .checkbox-label {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
  }

  ion-checkbox{
    flex:0;
    margin-right: 10px;
  }
